<!DOCTYPE html>
<html lang="en" ng-app="scroll">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.2/ng-infinite-scroll.js'></script>
	<script src="app.js"></script>
</head>
<body ng-controller="scrollController">
<div class="header"><h1 class="title">Appointment Calendar</h1></div>
	<div class="scroll" infinite-scroll="loadMore()" infinite-scroll-distance="1">
		<div class="box" ng-repeat='n in images'>
			<div class='date-name' ng-bind="n.appointment" ng-hide="n.agendaVisibility"><p>{{n.agenda}}</p></div>
			<h2 class="full-date">{{n.day}}</h2>
			<button class="add-apoint" ng-click="addAgenda($index)">{{n.button}}</button>
			<textarea class="add-text" type="text" ng-show="n.visibility" ng-model="n.appointment"></textarea>
		</div>
	</div>
</body> 
</html>